@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap");

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow: hidden;
}

.card-container {
  width: 300px; /* Set the minimum width */
  max-width: 96%; /* Set the maximum width to prevent overflowing on small screens */
}

@media (min-width: 640px) {
  .card-container {
    width: 400px; /* Adjust the width for larger screens */
  }
}
